{%extends 'base.html'%}
{% import 'macros.html' as macro %}


{%block content%}
    <div class="container">
        <div class="row profile">
            <div class="col-md-3 prof-left text-center">
                {%if current_user.profile_pic_path %}
                    <img src="{{url_for(current_user.profile_pic_path)}}" alt="">
                {%else%}
                    <a href="/profile/{{current_user.username}}/update_photo"><img class="img-fluid prof-pic" src="https://p7.hiclipart.com/preview/980/304/8/computer-icons-user-profile-avatar.jpg" alt=""></a>
                {%endif%}
                <p class="">{{current_user.username}}</p>
                <hr>
                <a href="/profile/{{current_user.username}}/edit" class="btn btn-warning btn-outline nav-link" style="font-family: 'Quicksand', sans-serif;   color:#003459;"">Edit profile</a>
                <hr>
                <h5>Find matches</h5>
                {{wtf.quick_form(form)}}

            </div>
            <div class="col-md-9 prof-right">
                {%if users%}
                    <div class="matches">{{macro.displayMatchesFound(users)}}</div>
                {%else%}
                    <p>{{text}}</p>
                {%endif%}
            </div>
        </div>
    </div>
{%endblock%}
