.navbar{
  background-color: #003459;
}
.nav-item {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
}

.brand{
  padding-left: 50px;
}
body{
  background-color: #FFFFFF;

}

.imageone{
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.imagetwo{
  padding-top: 250px;
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Profile */

.profile {
  margin: 0.5%;
}



.prof-right {
  border-left: 1px solid #888888;
}

.update {
  width: 100%;
  margin-top: 5%;
  left: 40%;
}

.update input {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
.examplea {
    font-size: 80px;
  }
}
@media screen and (min-width: 900px) {
.exampleb {
    font-size:20px;
  }
}
