/* Landing page */

.navbar{
  background-color: #003459;
}

.signupbtn{
  display: flex;
  justify-content: center;
  margin-left: 40%;
  width: 20%;
}

.brand{
  padding-left: 50px;
}
body{
  background-color: #FFFFFF;

}

.imageone{
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.imagetwo{
  padding-top: 250px;
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    margin: 7px;
    height: 35px;

}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: black;
}


/* Profile */

.profile {
  margin: 2%;
}

.prof-left {
  padding-right: 20px;
}

.prof-left img {
  padding-bottom: 20px;
}

.prof-right {
  border-left: 1px solid #ebe8e8;
  padding-left: 20px
}

.update {
  width: 100%;
  margin-top: 5%;
  left: 40%;
}

.update input {
  width: 100%;
  margin: 0 auto;
}

.card {
  max-width: 270px;
}

.card-photo {
  max-width: 250px;
  max-height: 250px;
}

.matches {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}