{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>404 error page - 404pagefree.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>

  <div class="error-header">
  </div>
  <div class="container ">
    <section class="error-container text-center">
      <h1>404</h1>
      <div class="error-divider">
        <h2>PAGE NOT FOUND.</h2>
        <p class="description">We Couldn't Find This Page</p>
      </div>
      <a href="/" class="return-btn"><i class="fa fa-home"></i> Home</a>
    </section>
  </div>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}