{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
{% if current_user.is_authenticated %}
<div class="container" style"background-color:#B3B6B7;">
  <div class="col-md">
    <!--<p class="text-left" style="padding-left:25px; padding-top:20px; color:black; font-size:45px; font-family: 'Abril Fatface', cursive;">Look for Your <span style="color:red;">Match!</span></p>-->
    <img class="img-fluid imagetwo"  src="static/assets/images/img1.jpg"></img>
  </div>
</div>

{% else %}
<div class="container">
  <div class="col text-center">
    <div class="col-md">
    <p class="text-center" style="color:#003459; font-size:55px; font-family: 'Abril Fatface', cursive;">Find Your <span style="color:#f0ad4e;">SoulMate!</span></p>
    <p class="text-center" style="color:#f0ad4e; font-family: 'Quicksand', sans-serif; font-size:20px;">Tired of being single? Looking for a SoulMate? Well, Say no More and Sign up Below! </p>
    {% if current_user.is_authenticated %}

    {% else %}
    <a class="btn btn-warning signupbtn" role="button" style="font-family: 'Quicksand', sans-serif; height:40px; padding-top:10px; color:#003459; font-size:16px;" href="{{url_for('auth.register')}}">Sign Up Here</a>
    {% endif %}
    </div>
    <div class="col-md">
          <img class="img-fluid imageone" src="static/assets/images/img3.jpg"></img>
    </div>
</div>
</div>
{% endif %}
{% endblock%}
