<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                </button>
                <a class="navbar-brand brand" style="font-size: 40px; color: #FFFFFF; font-family: 'Poiret One', cursive;" href="/"> cupidR. </a>
            </div>
            <div class=" navbar-right">
            <ul class="nav navbar-right">


                   <li><a class="btn btn-warning btn-outline" role="button" style="font-family: 'Quicksand', sans-serif;   color:#f0ad4e; font-size:14px;" href="/">Profile</a></li>
                   <li><a class="btn btn-warning btn-outline" role="button" style="font-family: 'Quicksand', sans-serif;    color:#f0ad4e; font-size:14px;" href="/">Sign out</a></li>


                   <li><a class="btn btn-warning btn-outline" role="button" style="font-family: 'Quicksand', sans-serif;    color:#f0ad4e; font-size:14px;" href="/">Sign in</a></li>


            </ul>
       </div>

        </div>
    </div>
